.creatingCites {
  position: relative;
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  background: linear-gradient(to bottom left, #2ab67e, #4ce1ae);

  .title {
    padding-top: 10px;
    color: white;
  }
  .postTitle {
    margin-top: 5px;
    color: #88ddbf;
  }
  .order {
    height: 50px;
    margin-top: 25px;
    padding: 14px 20px;
    background: rgba(255, 255, 255, 0.25);

    color:white;
    font-size: 18px;
    line-height: 21px;

    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    box-shadow: 0 4px 15px -3px rgba(0,0,0,.1);
  }
  .slider {
    margin-top: 65px;
  }
  .marks {
    display: none;
  }
  .next {
    color:white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:none;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-top: 15px;
    font-weight: bold;
    background:#E7DEDE url(../../img/icon-next.svg) no-repeat center center;
  }
}