.ourServices {
  --section-color: #3c3c3c;
  background-color: var(--section-color);

  .title {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 10px;

    .devider {
      height: 5px;
      width: 50px;
      margin: 0 15px;
      background: white;
    }
    .text {
      width: 110px;
      color: white;
      font-size: 22px;
      font-weight: 900;
      line-height: 26px;
    }
  }

  .services {
    margin: 45px 35px;
    width: calc(100% - 70px);
    color: white;

    .purple {
      background: linear-gradient(to right, #7255f7, #9c51f7);
    }
    .green {
      background: linear-gradient(to right, #4ae184, #23ac68);
    }
    .orange {
      background: linear-gradient(to right, #fc9b67, #f95445);
    }

    .service {
      min-height: 70px;
      padding-top: 30px;
      padding-bottom: 15px;
      margin-bottom: 15px;
      position: relative;

      &:after {
        content: ' ';
        position: absolute;
        top: 0;
        height: 17px;
        width: 40px;
        background-color: var(--section-color);
        transform: rotate(-45deg) translate(-7px,-12px);
      }

      .name {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
        border-radius: 50px;
        height: 35px;
        line-height: 35px;
        background-color: #575757;
        width: 200px;
      }

      .accordion {
        overflow-y: hidden;
        transition: 2s;
        position: relative;
        min-height: 24px;
        width: 100%;
        bottom: -10px;
        z-index: 2;

        .text{
          position: relative;
          padding: 15px;
          height: 0;
          display: block;
          color: transparent;
        }
        .bottom {
          position: absolute;
          bottom: 0;
          height: 24px;
          margin: 0 20px;
          width: calc(100% - (20px*2));
          display: flex;
          justify-content: space-around;
          align-items: center;

          .divider{
            height: 2px;
            width: calc(100% - 15px);
            background: white;
            margin-right: 16px;
          }
          .arrow{
            width: 14px;
            height: 7px;
            background: url(../../img/icon-down-arrow.svg)no-repeat center;
          }
        }
      }
    }
  }
}