.weCreate {
  height: 100vh;

  .title {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 10px;

    .devider {
      height: 5px;
      width: 50px;
      background: #B1B1B1;
      margin: 0 15px;
    }
    .text {
      width: 110px;
      color: #B1B1B1;
      font-weight: 900;
      font-size: 22px;
      line-height: 26px;
    }
  }
  .types {
    display: flex;
    flex-direction: column;

    .type {
      display: flex;
      align-items: center;

      .img {
        border: 2px solid #FF3E8F;
        width: 80px;
        height: 80px;
        margin: 30px 36px 30px 26px;
        //do not optimize that:
        background-color: #F2F2F2;
        background-repeat: no-repeat;
        background-position: center;
      }
      .text {
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #B7B3B3;
        width: 143px;
        text-align: left;
      }
      .circle {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: relative;
        &:before{
          @include rotate(3s);
          content: ' ';
          border: 1px solid #D5D5D5;
          border-radius: 50%;
          width: 110px;
          height: 90px;
          top: -6px;
          left: -16px;
          position: absolute;
          display: block;
        }
        &:after{
          @include rotate(4s);
          content: ' ';
          border: 1px solid #D5D5D5;
          border-radius: 50%;
          width: 96px;
          height: 86px;
          top: -4px;
          left: -9px;
          position: relative;
          display: block;
        }
      }
      .square {
        position: relative;
        &:before{
          @include rotate(4s);
          content: ' ';
          border: 1px solid #D5D5D5;
          width: 90px;
          height: 90px;
          top: -6px;
          left: -6px;
          position: absolute;
          display: block;
        }
        &:after{
          @include rotate(5s);
          content: ' ';
          border: 1px solid #D5D5D5;
          width: 86px;
          height: 86px;
          top: -4px;
          left: -4px;
          position: relative;
          display: block;
        }
      }
      .triangle {
        background: url(../../img/triangle.svg)no-repeat;
        position: relative;
        &:before{
          @include rotate(4s);
          width:80px;
          height: 80px;
          content: ' ';
          position: absolute;
          display: block;
          background: url(../../img/slim-triangle.svg)no-repeat;
          background-size: contain;
          transform: rotate(90deg);
          //transform-origin: 63% 50%;
        }
        &:after{
          @include rotate(5s);
          width:80px;
          height: 80px;
          content: ' ';
          position: relative;
          display: block;
          background: url(../../img/slim-triangle.svg)no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          transform: rotate(90deg);
          //transform-origin: 60% 50%;
        }
      }

    }
  }
  .laptop {
    background: url(../../img/icon-laptop.svg);
    border-radius: 50%;
    position: relative;
    &:after{
      @include rotate(6s);
      content: ' ';
      border: 1px solid #D5D5D5;
      border-radius: 50%;
      width: 124px;
      height: 94px;
      top: -8px;
      left: -22px;
      position: absolute;
      display: block;
    }
  }
  .watch {
    background: url(../../img/icon-watch.svg);
    position: relative;
    &:after{
      @include rotate(6s);
      content: ' ';
      border: 1px solid #D5D5D5;
      width: 94px;
      height: 94px;
      top: -8px;
      left: -8px;
      position: absolute;
      display: block;
    }
  }
  .network {
    background: url(../../img/icon-network.svg)no-repeat;
    border: none !important;
    background-color: transparent !important;
    position: relative;
    &:after{
      @include rotate(6s);
      background: url(../../img/slim-triangle.svg) no-repeat;
      content: ' ';
      width: 80px;
      height: 80px;
      position: absolute;
      display: block;
      transform: rotate(90deg);
      background-size: contain;
      top: 0;
    }
  }
}