.header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  color: white;
  border-bottom: 2px solid #D1D1D1;
  transition: 1s;

  div {
    margin: 21px;
  }
  .name {
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
  }
  .burger {
    width: 30px;
    height: 19px;
    cursor: pointer;
    background-color: white;
    -webkit-mask: url('../../img/icon-burger-menu.svg') no-repeat center center;
  }
  .numbers {
    display: none;
  }
}