.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: MuseoSansCyrl, sans-serif;
  background-color: #C4C4C4;

  div {
    margin: 21px;
  }
  .name {
    font-size: 18px;
    font-weight: 900;
    line-height: 21px;
  }
  .burger {
    width: 30px;
    height: 19px;
    cursor: pointer;
    background:url('../../img/icon-burger-menu.svg') no-repeat center center;
  }
}