<section class="section creatingCites">

    <div class="block1">
        <div class="title">СОЗДАНИЕ САЙТОВ</div>
        <div class="postTitle">ЛЮБОЙ СЛОЖНОСТИ</div>
        <button class="order">ЗАКАЗАТЬ УСЛУГУ</button>
    </div>

    <div class="block2">
        <div class="slider">
            <div class="slide slide1"></div>
            <div class="slide slide2"></div>
            <div class="slide slide3"></div>
            <div class="slide slide4"></div>
        </div>
        <div class="marks">
            <span class="marksTitle">MARKS</span>
            <div marksItems>
                <span class="mark">Найди традиционные места для перекуса</span>
                <span class="mark">Мы создали UX/UI дизайн, и создали брендинг для этого приложения.</span>
            </div>
        </div>
    </div>

    <button class="next"></button>
</section>