<section class="section form">
    <div class="title">
        <div class="devider"></div>
        <div class="text">ЗАКАЗАТЬ УСЛУГУ</div>
    </div>

    <form class="form-container">
        <input class="name" placeholder="Имя" type="text" size="40">
        <input class="phoneOrEmail" placeholder="Телефон или E-mail" type="text" size="40">
        <textarea class="message" placeholder="Сообщение" cols="40" rows="5"></textarea>

        <button class="order">ЗАКАЗАТЬ УСЛУГУ</button>
    </form>
    <div class="telegram">
        <a href="https://telegram.im/@manmorc?p=1"
           target="_blank"
           title="Напишите нам">
        </a>
    </div>
</section>