<section class="section fp-auto-height ourServices">
    <div class="title">
        <div class="devider"></div>
        <div class="text">НАШИ УСЛУГИ</div>
    </div>
    <div class="services">
        <div class="service purple">
            <div class="name">Вебсайт под ключ</div>

            <div class="accordion accordion-button">
                <span class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in
                </span>
                <div class="bottom">
                    <div class="divider"></div>
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
        <div class="service green">
            <div class="name">Логотип</div>

            <div class="accordion accordion-button">
                <span class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in
                </span>                <div class="bottom">
                    <div class="divider"></div>
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
        <div class="service orange">
            <div class="name">Приложение</div>

            <div class="accordion accordion-button">
                <span class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in
                </span>                <div class="bottom">
                    <div class="divider"></div>
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
    </div>
</section>