<section class="section ourServices">
    <div class="title">
        <div class="devider"></div>
        <div class="text">НАШИ УСЛУГИ</div>
    </div>
    <div class="services">
        <div class="service purple">
            <div class="name">Вебсайт под ключ</div>

            <div class="accordion accordion-button">
                <span class="text">
                    <ul>
                        <li>Интернет-магазин</li>
                        <li>Landing Page</li>
                        <li>Корпоративный сайт</li>
                        <li>Сайт-визитка</li>
                    </ul>
                </span>
                <div class="bottom">
                    <div class="divider"></div>
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
        <div class="service green">
            <div class="name">Логотип</div>

            <div class="accordion accordion-button">
                <span class="text">
                    <ul>
                        <li>Интернет-магазин</li>
                        <li>Landing Page</li>
                        <li>Корпоративный сайт</li>
                        <li>Сайт-визитка</li>
                    </ul>
                </span>                <div class="bottom">
                    <div class="divider"></div>
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
        <div class="service orange">
            <div class="name">Приложение</div>

            <div class="accordion accordion-button">
                <span class="text">
                    <ul>
                        <li>Интернет-магазин</li>
                        <li>Landing Page</li>
                        <li>Корпоративный сайт</li>
                        <li>Сайт-визитка</li>
                    </ul>
                </span>
                <div class="bottom">
                    <div class="divider"></div>
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
    </div>
</section>