<section class="section stages">
    <div class="title">
        <div class="devider"></div>
        <div class="text">
            <span>ЭТАПЫ СОЗДАНИЯ САЙТА</span>
            <span class="postTitle">
                Создание сайта можно разделить на несколько
                этапов: от решения о разработке, до его запуска.
            </span>
        </div>
    </div>

    <div class="slide" data-anchor="slide1">
        <div class="head">
            <div class="name">План</div>
            <div class="number">01</div>
        </div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
    </div>
    <div class="slide" data-anchor="slide2">
        <div class="head">
            <div class="name">План2</div>
            <div class="number">02</div>
        </div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
    </div>
    <div class="slide" data-anchor="slide3">
        <div class="head">
            <div class="name">План3</div>
            <div class="number">03</div>
        </div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
    </div>
    <div class="slide" data-anchor="slide4">
        <div class="head">
            <div class="name">План4</div>
            <div class="number">04</div>
        </div>
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
    </div>
</section>