<section class="weCreate">
    <div class="title">
        <div class="devider"></div>
        <div class="text">МЫ СОЗДАЁМ</div>
    </div>
    <div class="types">
        <div class="type">
            <div class="img circle laptop"></div>
            <div class="text">СОВРЕМЕННЫЙ ПОДХОД</div>
        </div>
        <div class="type">
            <div class="img squarewatch"></div>
            <div class="text">РАБОТА В СРОК</div>
        </div>
        <div class="type">
            <div class="img triangle  network"></div>
            <div class="text">ОПЫТНАЯ КОМАНДА</div>
        </div>
    </div>
</section>