<section class="section weCreate">
    <div class="title">
        <div class="devider"></div>
        <div class="text">МЫ СОЗДАЁМ</div>
    </div>
    <div class="types">
        <div class="type">
            <div class="img laptop"><div class="circle"></div></div>
            <div class="text">СОВРЕМЕННЫЙ ПОДХОД</div>
        </div>
        <div class="type">
            <div class="img watch"><div class="square"></div></div>
            <div class="text">РАБОТА В СРОК</div>
        </div>
        <div class="type">
            <div class="img network"><div class="triangle"></div></div>
            <div class="text">ОПЫТНАЯ КОМАНДА</div>
        </div>
    </div>
</section>